@import '../../assets/scss/vars';

.loader {
  animation: pulse 1s linear infinite;
  border-radius: 50%;
  border: 5px solid $green-highlight;
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  position: relative;
  width: 48px;

  &::after {
    animation: scaleUp 1s linear infinite;
    border-radius: 50%;
    border: 5px solid $green-highlight;
    box-sizing: border-box;
    content: '';
    display: inline-block;
    height: 48px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
  }
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}
