@import '../../assets/scss/vars';

.track {
  align-items: center;
  color: $grey;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;

  &:hover {
    background-color: #EEE;
    transition: background-color .2s ease-in-out;
  }

  &__title {
    color: $black;
    font-size: 1rem;
    margin: 0;
  }

  &__duration {
  }

  &__artists {
    margin: 0;
  }

  &__album {
    padding: 0 15px;
  }

  &__mainInfo {

  }
}
