@import '../../assets/scss/vars';

.search {
  display: flex;

  &__input {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 2px solid $black;
    flex: 1 1 100%;
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
  }

  &__button {
    background: $black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 2px solid $black;
    color: $white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    padding: 0 20px 0 15px;

    &:hover {
      background-color: $green-highlight;
      border: 2px solid $green-highlight;
      transition: background-color .1s ease-in-out, border .1s ease-in-out;
    }
  }
}
